
@{
    ViewBag.Title = "FAQ";
}


<div class="container" style="width:70%;background-color:white;opacity:0.9;margin-bottom:100px;">
    <div class="row" style="margin-top:20px;margin-bottom:50px;background-color:white">
        <div class="col-md-offset-3 col-md-7" style="background-color:white">
            <h2><b>Frequently Asked Questions</b></h2>
            <hr />
        </div>
    </div>
    <section style="padding:20px;text-align: justify;text-justify: inter-word;">
        <p>
            <strong>Q: Is this a religion or cult?</strong>
            <br>
            A: It is neither. It is a way of life celebrating soulfulness - the joy felt in your body, mind and soul.
            Everyone can participate in this celebration, irrespective of creed or beliefs.
        </p>
        <p>
            <strong>Q: Are there any charges or hidden fees to get the full techniques?</strong>
            <br>
            A: You are receiving the complete NLAM system at this time – it is completely free. From time to
            time, we may add techniques or augment the existing ones – theses will also be provided free.
        </p>
        <p>
            <strong>Q: Why are you providing these precious techniques free?</strong>
            <br>
            A: It is the blessing of the Himalayan Master Yogiraj Siddhanath to help humanity find happiness
            and develop self peace for the sake of earth peace.
        </p>
        <p>
            <strong>Q: Are there any precautions about doing these techniques?</strong>
            <br>
            A: There are no restrictions for the Siddhanath Earth Peace and Golden Lotus techniques. One
            should refrain form performing the Siddhanath Surya Yoga with a full stomach – it should be
            done before meals or at least 2 hours after food.
        </p>
        <p>
            <strong>Q: Can pregnant women do these techniques?</strong>
            <br>
            A: Yes, but refrain from any jerky movements during Siddhanth Surya Yoga.
        </p>
        <p>
            <strong>Q: I've downloaded the videos. Now, which one should I do first?</strong>
            <br>
            A: Siddhanath Surya, followed by Golden lotus and then Earth peace.
        </p>
        <p>
            <strong>Q: How often should I do these techniques to get results?</strong>
            <br>
            A: Once a day in the morning and if time permits, then add an evening session as well.
            Results come quickly but remember that this is a life-long practice of healing and wholing
        </p>
        <p>
            <strong>Q: How long should I practice Surya before adding the Golden lotus and / or Earth Peace?</strong>
            <br>
            A: Practice half an hour for five days and then add the Golden lotus followed by five more days of
            practice before adding the Earth Peace.
        </p>
        <p>
            <strong>Q: Can we learn the Surya mantra from a teacher?</strong>
            <br>
            A: Yes. You can also get the Instructional CD for the Surya mantra.
        </p>
        <p>
            <strong>Q: How can I contact a teacher and learn personally?</strong>
            <br>
            A: Through Website siddhanath.org.uk and fill in form in the registration section
        </p>
    </section>
</div>
