
@{
    ViewBag.Title = "Privacy";
}
<div class="container" style="width:70%;padding-bottom:100px;margin-bottom:100px;background-color:white;opacity:0.9;">
    <div class="row" style="margin-top:100px;background-color:white">
        <div class="col-md-offset-2 col-md-8" style="background-color:white">
            <p><b style="color:#A43333">Awareness & Guidance</b></p>
        </div>
    </div>
    <div class="row" style="background-color:white">
        <div class="col-md-offset-2 col-md-8" style="background-color:white">
            <section>
                <p>The advice, ideas, views, statement and information contained in this programme may not be appropriated for individuals 
                suffering from health issues. Parental guidance is advised for children. Viewers are recommended to use their discretion 
                and make appropriate enquiries, check the factual accuracy, completeness or usefulness of any give information, 
                product or process mentioned in the programme and take appropriate advice about any information shared during the 
                programme.</p>
                <p>If viewers select to follow the programme without consulting a medical physician, viewers shall be doing so at their own risk. 
                No information, statement or view expressed during the programme or exercise demonstrated should be interpreted as a 
                recommendation for a treatment plan, product or course of action. As with any exercise programme, these should be 
                performed under expert guidance or by persons at their own risks. If at any point during the workout the viewer begins to 
                feel pain, dizzy, faints or has any physical discomfort, the viewer should stop immediately and again consult a physician.</p>
                <p>The views, ideas, opinions, comments, statements expressed in the programme are solely that of the host(s), and 
                participant(s). Neither Brilliant wellness Pvt. Ltd. (‘Company’) nor the creators nor the producer (i) endorse the programme 
                or (ii) give any warrant or guarantee that the information or the product or performance of the exercises demonstrated in 
                the programme is suitable and safe for use or implementation by the viewers.</p>
                <p>Neither the company nor the creators nor the producer shall be responsible or liable to any person for any direct, indirect, 
                incidental or special damages, including but not limited to damages as a result of any act done by the viewers pursuant 
                to watching this programme, or performance of the excercises demonstrated during the programme.</p>
            </section>
        </div>
    </div>    
</div>

