body, html {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    background: url(../Content/images/logo1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.float-right {
    float:right;
}
.color-white {
    color: white;
}
.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.background-white {
    background-color: white;
    padding: 10px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ui-autocomplete-input {
    max-width: 280px;
}

strong {
    color: #8e0000;
}

#nlamInfo  li {
    list-style:none;
    /** the image will be vertically aligned in the center **/
    background: url(../Content/images/liststyle20x20.gif) left center no-repeat; 
    /** move the text to the right **/
    padding-left: 30px;
    margin-bottom:10px;
}

.dividerLine {
    display:inline-block;
    background-color:#fddd26;
    height:2px;
    width:30%;
    vertical-align: top;
    margin-top:50px;
    margin-right:10px;
}

.indexRow {
    background-color:white;
    margin-bottom:50px;
    height:350px;
    border-radius:5px;
    box-shadow:4px 4px 1px #888;
    opacity: 0.95;
}